.marginbar{
  scroll-margin-left: 100px;
  margin-right: 10px;
}

.navbar-nav {
  position: absolute;
  right: 0;
  margin-right: 61px;
}

.content {
 padding: 70px; 
 
}

/* .content img {     
height: 80px;
width: 90px;
border-radius: 50%;
zoom: 3;
position: absolute;
top: 17%;
left: 39%
} */

.mt-100 {
  margin-top: 100px;
}

@media (width:450px) {
  .mt-100 {
    margin-top: 50px;
  }
}


.name {
  margin-top: 247px;
    text-align: center;
    color: black;
    display: block;
    padding: 1.5rem 0rem;
    padding-top: 43px;
    font-size: 25px;
}

.navbar {position: fixed;
  z-index: 10;
  width: 100%;
  padding-left: 70px;
}

.name1{
  color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.about{
  color: black;
  text-align: center;
  font-size: 20px;
  display: block;
  font-family: 'Roboto Mono', sans-serif;
}

.aboutsp{
  margin-top: 15px;
  display: block;

}

.borderline{
border-bottom: 1px solid #cccccc;
margin-top: 35px;
margin-left: 60px;
margin-right: 60px;
}

.content1{
    padding: 20px;
    margin-left: 60px;
    margin-right: 60px;
}

.emailsaga{
margin-top:97px;
margin-left: 307px;
margin-right: 90px;
display: block;
padding-top: 44px;
}

.emailsaga1{
    margin-top: 6px;
    margin-left: 334px;
    margin-left: 413px;
    display: block;
    padding-top: 44px;
    color:#007bff;
}

.myportofolio{
  display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-top: 70px;
    margin-left: 450px;
    margin-right: 90px;
  }

.section1{
  display: flex;

}

.post-list {
  display: flex;
  margin: 0 -5px;
  flex-wrap: wrap;

}

.post-list1{
  flex-wrap: wrap;
    margin-top: 166px;
    margin-bottom: 90px;
    margin-right: 92px;
    display: block;
    display:flex;
}

.img-thumbnail{
  padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    margin-left: 150px;
    height: auto;
}

.font1{
  display: block;
  font-size: 20px;
  font-family: monospace;
  padding-top: 30px;
  margin-left: 150px;
}

.card{
  box-sizing: border-box;
    width: 100%;
    display: inline-block;
    width: 100%;
    border: solid 1px #ededed;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.textcontact{
  text-align: center;
  font-family: monospace, sans-serif;
  margin-bottom: 15px;
  margin-top: 50px;
}

.textcontact1{
    font-family: monospace,sans-serif;
    display: flex;
    padding-top: 200px;
    margin-left: 350px;
}